.question {
    width: 600px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px;
    margin: 16px auto;
}

.question li {
    cursor: pointer;
    padding: 4px;
}

.question li:hover {
    color: grey;
}
